:root {
  --shadow-box: 0 4px 20px rgba(0, 0, 0, 0.1);
  --shadow-box: 0 4px 20px rgba(0, 0, 0, 0.2);
  --heading-color: #00796b;
  --connect-btn-color: #00796b;
  --connection-status-color: red;
  --response-text: #004d40;
  --forward-btn: #d32f2f;
  --left-and-right:  #00796b;
  --plain-text-color: #555;
  --response-wrap: #f0f4f8;
  --page-max-width: 30rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.shadow {
  border-radius: 1rem;
  background-color: transparent;
  box-shadow: var(--shadow-box);
  padding: 1rem;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9375rem;
  color: var(--plain-text-color);  
  background-color: #f0f4f8;
  margin: 1.5rem 2rem;
  padding: 0;
  line-height: 1.6;
}

h1 {
  color: var(--heading-color);
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0 0 0;
}

img {
  height: 1rem;
  border-radius: 50%;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem 0 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
}

.form-wrap {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.ip-input-and-btn-wrap {
  position: relative;
}

input[type=text] {
  /* width: calc(100% - 2rem); */
  width: 100%;
  padding: 0.7rem;
  font-size: 0.98rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

input[type=text]:focus {
  outline: 2px solid #ccc;
}

.connect-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0.4rem;
  background-color: #004d40;
  top: 0;
  right: 0;
}

.connect-btn {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 1.9rem;
  height: 1.9rem;
}

.connect-btn-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.not-connected {
  color: red;
}

.connected {
  color: var(--heading-color);
}

.page-wrap {
  margin: auto;
  min-height: calc(100dvh - 6rem);
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
}

/*======================================================*/

.each-control-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--left-and-right);
  transition: all 0.3s ease-in-out;
}

.each-control-btn:active {
  transform: scale(1.3); 
}


.control-btn-wrap {
  margin-top: 2rem;
  display: grid;
  grid-template-areas: 
    " . forward . "
    "left forward right"
    "left reverse right"
    " . reverse . "
  ;
  gap: 4rem 1.5rem;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  --radius: 100%;
  overflow: hidden;
  border-radius: var(--radius) var(--radius) 0 0;
  border-radius: 50% 50% 25% 25%;
  height: 10rem;
}

.forward-btn {
  grid-area: forward;
}

.right-btn {
  grid-area: right;
  justify-self: flex-start;
}

.left-btn {
  grid-area: left;
  justify-self: flex-end;
}

.reverse-btn {
  grid-area: reverse;
  opacity: 0;
}


.hamzatronics-header {
  display: flex;
  padding: 0.5rem;
  font-size: 13px;
  text-align: center;
  max-width: var(--page-max-width);
  margin: auto;
  justify-content: center;
}


/* ================scroll text animation */

.control-feedback {
  font-size: 0.9rem;
  color: var(--heading-color);
  background-color: transparent;
  padding: 0.5rem 1rem;
  text-align: center;
  overflow: hidden; /* Hides overflow for smooth scrolling */
  white-space: nowrap; /* Prevents text from wrapping */
  background-color: var(--response-wrap);
  /* box-shadow: var(--shadow-box); */
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2rem;
  overflow: hidden;
}

.scroll-text {
  display: inline-block;
  /* background-color: rebeccapurple; */
  transition: all 0.5s ease-in-out;
}

@keyframes scrollLeft {
  0% {
    transform: translateY(100%);
    /* transform: ; */
    opacity: 1;
    color: var(--heading-color);
  }

  10% {
    color: var(--response-text);
  }

  50% {
    color: var(--forward-btn);
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
    color: var(--response-text);
  }
}
